.first{
    color: #2c3e50;
    text-align: center;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 550;
    font-style: normal;
    text-transform: uppercase;
    font-size: 75px;
    line-height: 45px;
}

.second{
    text-align: center;
    font-size: 16pt;
    color: #2c3e50;
    font-family: bebas-neue-pro, sans-serif;
    font-style: normal;


}